<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Make up a Nickname</title>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="stylesheets/signin.css">
<link type="text/css" rel="stylesheet" href="stylesheets/common.css">
</head>
<body style="background-color: rgba(22, 88, 33, 0.507);">
  <div id="content">
    <form style="margin-top:70px;" method="post">
      <div class="form_line">
        <div class="form_label">Think of a nickname：</div>
        <input type="text" name="name" autofocus="autofocus" oninput="$(this).val($(this).val().replace(/(^\s+)|(\s+$)/g,''))" />
      </div>
      <div class="form_line">
        <div class="form_label"></div>
        <button class="button pink" type="submit">Enter Tree Hole</button>
        <button class="button pink" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</body>
</html>